body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}


/*.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}*/

.main-header {
  background-color: #eeeeee;
  font-size: 16px;
  line-height: 30px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:focus {
  opacity: 0.3;
}

.main-nav a:hover {
  color: #f87f81;
}

.main-nav a:focus {
  color: #a6a6a6;
}

.main-current a {
  border-bottom: #fb565a solid 2px;
}

.slider {
  background-color: #eeeeee;
}



.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;

  background-color: #fb565a;
  border: none;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button:hover {
  background-color: #e74246;
}

.button:focus {
  background-color: #d7373b;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2) inset;

}

.item-2 .button {
  background-color: #00ca74;
}

.item-2 .button:hover {
  background-color: #00bc6c;
}

.item-2 .button:focus {
  background-color: #00aa62;
}

.item-3 .button {
  background-color: #efc84a;
}

.item-3 .button:hover {
  background-color: #eab534;
}

.item-3 .button:focus {
  background-color: #e5a722;
}

.main-catalog h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

figcaption,
.studio {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
}

hr {
  border: 0;
  border-bottom: 2px solid #eeeeee;
  width: 1160px;
}

.studio h1 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.tasks,
.skills {
  font-weight: 700;
  text-transform: uppercase;
}

th {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}


sup {
  font-size: 24px;
  top: -0.7em;
}

.studio td {
  line-height: 18px;
}

.urls img {
  opacity: 0.2;
}

.urls a:hover img {
  opacity: unset;
}

.urls a:focus img {
  opacity: 0.1;
}

.adress-wrap h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.adress-wrap p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
}

.friendly h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
}

.friendly p{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
}

footer td {
  text-align: center;
  background-color: #f5e7f7;
  border: 2px solid #f5e7f7;
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.appointment {
  text-transform: none;
  background-color: #ffffff; 
  box-shadow: 10px 10px 10px 10px rgba(188, 188, 188, 1);
}

.appointment h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.appointment label{
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.appointment-item input[type="text"],
.appointment-item input[type="email"],
.appointment-item textarea {
  font: inherit;
  font-weight: 400;
  border: 2px solid #d7dcde;
  color: #a1a1a1;  
}

.appointment-item input:hover,
.appointment-item textarea:hover{
  border-color: #b4b9bb;
}

.appointment-item input:focus,
.appointment-item textarea:focus{
  border-color: #000000;
  color: #444444; 
}

.modal-close {
  background-color: #ffffff;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
}

.shop-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

fieldset {
  border: none;
}

.filter-option {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
}

.filter-button,
.pagination-item {
  background-color: #eeeeee;
  color: #000000;
}

.filter-button:hover,
.pagination-item:hover {
  background-color: #dfdfdf;
}

.filter-button:focus,
.pagination-item:focus {
  color: #959595;
}




