html, body {
   height: 100%;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  
  background-color: #ffffff;
}


a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*----Header----*/

.main-header {
  background-color: #eeeeee;
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 18px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.logo:hover {
  opacity: 0.8;
}

.logo:focus,
.logo:active {
  opacity: 0.3;
}

.main-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 48px;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 440px;
  margin: 0;
  padding: 0;
}

.main-nav a:hover {
  color: #f87f81;
}

.main-nav a:focus {
  color: #a6a6a6;
}

.cart {
  max-width: 120px;
}

.main-current a {
  border-bottom: #fb565a solid 2px;
}

.cart li a {
  position: relative;
  
}

.cart li a::before {
  position: absolute;
  content: url("../img/cart-icon.svg");
  left: -40px;
}

/*---Slider---*/

.slider {
  position: relative;
  
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-transform: none;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
  text-transform: none;
  font-weight: 400;
  font-size: 16px;

}

.slider-item-button {
  width: 240px;
  padding: 13px 0;
}

/*---Button---*/

.button {
  display: block;
  margin-top: 30px;
  padding: 20px 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}



/*---Main Catalog---*/

.main-catalog {
 padding: 80px 0;
}

.item figure {
  width: 300px;
  margin: 0;
  padding: 0;
}

.main-catalog ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}


.item:nth-child(2) .button {
  background-color: #00ca74;
}

.item:nth-child(2) .button:hover {
  background-color: #00bc6c;
}

.item:nth-child(2) .button:focus {
  background-color: #00aa62;
}

.item:nth-child(3) .button {
  background-color: #efc84a;
}

.item:nth-child(3) .button:hover {
  background-color: #eab534;
}

.item:nth-child(3) .button:focus {
  background-color: #e5a722;
}

.main-catalog h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

figcaption,
.studio {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
}

hr {
  border: 0;
  border-bottom: 2px solid #eeeeee;
  width: 1160px;
}

/*---Studio---*/

.studio {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
}

.studio li {
  padding: 15px 0;
  position: relative;
}

.studio li::before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  top: 25px;
  left: -40px;
}



.studio-wrap {
  width: 660px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skills-wrap {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skills-wrap th,td {
  text-align: left;
  padding: 10px;
} 


.studio h1 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.tasks,
.skills {
  font-weight: 700;
  text-transform: uppercase;
}

th {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}



sup {
  font-size: 24px;
  top: -0.7em;
}

.studio td {
  line-height: 18px;
}

/*---Urls---*/

.urls-wrap {
  display: flex;
  justify-content: space-around;
}

.urls img {
  opacity: 0.2;
}

.urls a:hover img {
  opacity: unset;
}

.urls a:focus img {
  opacity: 0.1;
}

/*---Contacts---*/

#contacts {
  display: flex;
  width: 100%;
  position: relative;
}

.adress-wrap h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-top: 50px;
}

.adress-wrap p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
}

.adress-wrap {
  box-sizing: border-box;
  position: absolute;
  padding-left: 50px;
  width: 318px;
  height: 308px;
  background-color: #ffffff;
  top: 24%;
  left: 19.5%;
}

.map {
  margin: 80px auto 68px;
}

.adress-wrap::after {
  content: url("../img/map-marker.png");
  position: absolute;
  top: 30px;
  left: 675px;
}

/*---Footer---*/

.friendly h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
  margin-bottom: 10px;
}

.friendly p{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
}

.footer-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.socials ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  padding-left: 0;
  margin-right: 140px;

}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5e7f7;
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

/*---PopUp---*/

.appointment {
  position: fixed;
  top: 120px;
  left: 24%;

  display: none;
  
  padding: 70px 100px 80px;
  text-transform: none;
  background-color: #ffffff; 
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-close {
  position: absolute;
  top: 75px;
  right: 89px;

  width: 22px;
  height: 22px;

  background-color: transparent;
  border: 0;
  cursor: pointer;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.modal-close:hover {
  opacity: unset;
}

.modal-close:active {
  opacity: 0.1;
}


.appointment h2 {
  margin: 0;
  margin-bottom: 45px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.appointment-item:nth-child(1),
.appointment-item:nth-child(2) {
  min-width: 360px;
  display: inline-block;
}


.appointment-wrap {
  max-width: 760px;
  margin: 0;
}


.appointment label{
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.appointment .button {
  width: 260px;
}

.appointment-item input[type="text"],
.appointment-item input[type="email"],
.appointment-item textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font: inherit;
  font-weight: 400;
  border: 2px solid #d7dcde;
  color: #a1a1a1;  
}

.appointment-item input:hover,
.appointment-item textarea:hover{
  border-color: #b4b9bb;
}

.appointment-item input:focus,
.appointment-item textarea:focus{
  border-color: #000000;
  color: #444444; 
}

/*---Shop---*/

.shop-title {
  background-color: #eeeeee;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 115px;
}

.shop-title h1{
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-transform: none;
  margin: 0 auto;
}

/*---Filters Shop---*/

.shop {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 60px;
}

.sort-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 70px;
}

.sort-list ul {
  display: flex;
  width: 360px;
  justify-content: space-between;
}

.sort-list li a{
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
}

.sort-list li a:active,
.sort-list li a:focus {
  opacity: 1;
}

.sort-list li a:hover {
  opacity: 0.6;
}



.filters {
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price {
  margin-bottom: 55px;
}

.grid,
.specialty {
  margin-bottom: 35px;
}

.filters ul {
  padding: 0;
  margin: 0;
}

legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

legend:not(.coast){
  margin-bottom: 25px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-option {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  margin-bottom: 25px;
  padding-left: 35px

}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
} 

.filter-input-checkbox + label::before {
  content: url(../img/checkbox-off.svg);
  position: absolute;
  display: block;
  top: -2px;
  left: -32px;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  content: url(../img/checkbox-on.svg);
  position: absolute;
  display: block;
  top: -2px;
  left: -32px;
  opacity: 0.4;
}

.filter-input-radio + label::before {
  content: url(../img/radio-off.png);
  position: absolute;
  display: block;
  top: -2px;
  left: -32px;
  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  content: url(../img/radio-on.png);
  position: absolute;
  display: block;
  top: -2px;
  left: -32px;
  opacity: 0.4;
}

.filter-input:hover + label {
  color: #4d4d4d;
}

.items-table {
  width: 760px;
}

.main-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}

.main-list li {
  width: 360px;
  height: 615px;
  margin-bottom: 30px;
  margin-right: 40px;
  position: relative;
}

.main-list li::before {
  display: block;
  position: absolute;
  content: url(../img/browser.svg);
  top: -39px;
  opacity: 0.12;
}

.main-list li a {
  display: flex;
  flex-direction: column;
}

.catalog-item-title {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.catalog-category {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666665;
  text-transform: none;
}

.item-price {
  position: absolute;
  top: 345px;
  display: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 360px;
  height: 230px;
  background-color: #eeeeee;
}

.main-list .button {
  width: 200px;
  margin: 30px auto 45px;
}

.item-price a:hover {
  color: #fb565a;
}

.item-price a:focus {
  color: #b2b2b2;
}

.main-list li:hover {
  border: 0 -40px 10px 3px #d2d2d2;
  
}


.main-list li:hover::before
    {
  opacity: 1;
}

.main-list li:hover .item-price {
  display: block;
}


.main-list li:nth-child(2n) {
  margin-right: 0;
}

.pagination-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.pagination-list li:last-child {
  padding: 15px 80px;
}

.pagination-item.button {
  margin: 0;
  padding: 15px 20px;
  margin-right: 10px;
}

.pagination-item.curent {
  background-color: #ffffff;
  box-shadow: 0 0 0 3px #dbdbdb inset;
}

.filter-button {
  padding: 15px 88px;

}


.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;

  height: 41px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}



.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  margin-left: 10px;
}

.max-price {
  text-align: right;
}


.filter-button,
.pagination-item {
  background-color: #eeeeee;
  color: #000000;
}

.filter-button:hover,
.pagination-item:hover {
  background-color: #dfdfdf;
}

.filter-button:focus,
.pagination-item:focus {
  color: #959595;
}




