html,
body {
  height: 100%;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}


a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*----Header----*/

.main-header {
  background-color: #eeeeee;
  font-size: 16px;
  line-height: 30px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 50px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 440px;
  margin-right: 40px;
  padding: 0;
}

.main-nav a:hover,
.main-nav a:focus {
  color: #f87f81;
}

.main-nav a:active {
  color: #a6a6a6;
}

.cart {
  max-width: 120px;
  margin-right: 45px;
}

.main-current a {
  border-bottom: #fb565a solid 2px;
}

.cart li a {
  position: relative;

}

.cart li a::before {
  position: absolute;
  content: url("../img/cart-icon.svg");
  left: -40px;
}

/*---Slider---*/

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked~.slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked~.slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked~.slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked~.slider-controls .slider-controls-item--1::before,
#product-2:checked~.slider-controls .slider-controls-item--2::before,
#product-3:checked~.slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-transform: none;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
  text-transform: none;
  font-weight: 400;
  font-size: 16px;

}

.slider-item-button.button {
  width: 240px;
  padding: 15px 0;
}

/*---Button---*/

.button {
  display: block;
  margin-top: 30px;
  padding: 20px 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}



/*---Main Catalog---*/

.main-catalog {
  padding: 50px 0;
  border-bottom: 2px solid #eeeeee;
}

.item {
  width: 300px;
  margin: 0;
  padding: 0;
}

.item .button {
  width: 160px;
  box-sizing: border-box;
}

.main-catalog ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.item h3::before {
  display: block;
  content: url(../img/illustration-1.png);
  margin-bottom: 30px;
}

.item:nth-child(2) h3::before {
  display: block;
  content: url(../img/illustration-2.png);
  margin-bottom: 30px;
}

.item:nth-child(3) h3::before {
  display: block;
  content: url(../img/illustration-3.png);
  margin-bottom: 30px;
}

.item-description {
  max-width: 250px;
}

.item:nth-child(2),
.item:nth-child(3) {
  margin-left: 100px;
}

.item:nth-child(2) .button {
  background-color: #00ca74;
}

.item:nth-child(2) .button:hover {
  background-color: #00bc6c;
}

.item:nth-child(2) .button:focus {
  background-color: #00aa62;
}

.item:nth-child(3) .button {
  background-color: #efc84a;
}

.item:nth-child(3) .button:hover {
  background-color: #eab534;
}

.item:nth-child(3) .button:focus {
  background-color: #e5a722;
}

.main-catalog h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.item-description,
.studio {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
}

/*---Studio---*/

.studio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 40px auto;
  border-bottom: 2px solid #eeeeee;
}

.studio li {
  padding: 15px 0;
  position: relative;
}

.studio li::before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  top: 25px;
  left: -40px;
}

.studio-wrap {
  width: 660px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.skills-wrap {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.skills-wrap th,
td {
  text-align: left;
  padding: 7px;
}


.studio h1 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.tasks,
.skills {
  font-weight: 700;
  text-transform: uppercase;
}

.skills {
  margin: 40px auto;
}

th {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  position: relative;
}



sup {
  font-size: 24px;
  position: absolute;
  top: 20px;
}

.studio td {
  line-height: 18px;
}

/*---Urls---*/

.urls {
  border-bottom: 2px solid #eeeeee;
}

.urls ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0;
}

.ul-line {
  display: block;
  height: 50px;
  border: 1px solid #eeeeee;
}

.urls img {
  opacity: 0.2;
  width: auto;
  height: 100%;
}

.urls a:hover img,
.urls a:focus img {
  opacity: unset;
}

.urls a:active img {
  opacity: 0.1;
}

/*---Contacts---*/

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: auto;
}

.adress-wrap h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-top: 50px;
}

.adress-wrap p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
  max-width: 210px;

}

.adress-wrap {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  padding-left: 50px;
  width: 318px;
  height: 308px;
  background-color: #ffffff;
  top: 135px;
  left: 380px;
}

.map {
  margin: 80px auto 68px;
}

.adress-wrap::after {
  content: url("../img/map-marker.png");
  position: absolute;
  top: 30px;
  left: 675px;
}

/*---Footer---*/

.friendly .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
  margin-bottom: 10px;
}

.friendly p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 60px;
}

.socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 260px;
  padding-left: 0;
  margin-right: 140px;

}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f5e7f7;
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

/*---PopUp---*/

.appointment {
  position: fixed;
  top: 120px;
  left: 50%;
  margin: 0 0 0 -460px;

  display: none;

  padding: 70px 100px 80px;
  text-transform: none;
  background-color: #ffffff;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.appointment-show {
  display: block;
  -webkit-animation-duration: 0.55s;
  animation-duration: 0.55s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, -100%, 0px);
    transform: translate3d(0px, -100%, 0px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, -100%, 0px);
    transform: translate3d(0px, -100%, 0px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.modal-close {
  position: absolute;
  top: 75px;
  right: 89px;

  width: 22px;
  height: 22px;

  background-color: transparent;
  border: 0;
  cursor: pointer;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.modal-close:hover {
  opacity: unset;
}

.modal-close:active {
  opacity: 0.1;
}


.appointment h2 {
  margin: 0;
  margin-bottom: 45px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.appointment-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 760px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.appointment-item {
  -ms-flex-preferred-size: 360px;
  flex-basis: 360px;
}

.appointment-item:nth-child(3) {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-top: 35px;
}

.appointment label {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.appointment-form {
  min-width: 760px;
}

.appointment .button {
  width: 260px;
}

.appointment-item input[type="text"],
.appointment-item input[type="email"],
.appointment-item textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font: inherit;
  font-weight: 400;
  border: 2px solid #d7dcde;
  color: #a1a1a1;
}

.appointment-item input:hover,
.appointment-item textarea:hover {
  border-color: #b4b9bb;
}

.appointment-item input:focus,
.appointment-item textarea:focus {
  border-color: #000000;
  color: #444444;
}

input[type="text"].no-valid,
input[type="email"].no-valid,
textarea.no-valid {
  border-color: #e74246;
  color: #e74246;
}


/*---Shop---*/

.shop-title {
  background-color: #eeeeee;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 115px;
}

.shop-title h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-transform: none;
  margin: 0 auto;
}

/*---Filters Shop---*/

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-top: 60px;
}

.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 70px;
}

.sort-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sort-list li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
}

.sort-list li a:hover {
  opacity: 0.6;
}

.sort-list li a:focus,
.sort-list li a:active {
  opacity: 1;
}

.filters {
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.price {
  margin-bottom: 55px;
}

.grid,
.specialty {
  margin-bottom: 35px;
}

.filters ul {
  padding: 0;
  margin: 0;
}

legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

legend:not(.coast) {
  margin-bottom: 25px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-option {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  margin-bottom: 25px;
  padding-left: 35px
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter-input-checkbox+label::before {
  content: url(../img/checkbox-off.svg);
  position: absolute;
  display: block;
  top: -2px;
  left: -32px;
  opacity: 0.4;
}

.filter-input-checkbox:checked+label::before {
  content: url(../img/checkbox-on.svg);
  position: absolute;
  display: block;
  top: -2px;
  left: -32px;
  opacity: 0.4;
}

.filter-input-radio+label::before {
  content: url(../img/radio-off.svg);
  position: absolute;
  display: block;
  top: -2px;
  left: -32px;
  opacity: 0.4;
}

.filter-input-radio:checked+label::before {
  content: url(../img/radio-on.svg);
  position: absolute;
  display: block;
  top: -2px;
  left: -32px;
  opacity: 0.4;
}

.filter-input:hover+label {
  color: #4d4d4d;
}

.items-table {
  width: 760px;
}

.main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}

.main-list li {
  width: 360px;
  min-height: 615px;
  margin-bottom: 30px;
  margin-right: 40px;
  position: relative;
}


.main-list li::before {
  display: block;
  position: absolute;
  content: url(../img/browser.svg);
  top: -39px;
  opacity: 0.12;
}

.item-price {
  position: absolute;
  bottom: 40px;
  display: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 360px;
  max-height: 230px;
  background-color: #eeeeee;
}

.catalog-item-title {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.catalog-category {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666665;
  text-transform: none;
  max-width: 230px;
  margin: 0 auto;
}

.main-list li:nth-child(1) .catalog-category,
.main-list li:nth-child(3) .catalog-category, 
.main-list li:nth-child(4) .catalog-category {
  max-width: 200px;
}

.main-list li:hover,
.main-list li:focus {
  -webkit-box-shadow: 0 -40px 10px #d2d2d2;
  box-shadow: 0 -40px 10px #d2d2d2;
}

.main-list li:hover::before,
.main-list li:focus::before {
  opacity: 1;
}

.main-list li:hover .item-price,
.main-list li:focus .item-price {
  display: block;
}

.main-list li:nth-child(2n) {
  margin-right: 0;
}

.buy.button {
  box-sizing: border-box;
  width: 200px;
  margin: 30px auto 45px;
}

.catalog-item-title:hover,
.catalog-item-title:focus {
  color: #fb565a;
}

.catalog-item-title:active {
  color: #b2b2b2;
}


.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.pagination-list li:last-child {
  padding: 15px 80px;
}

.pagination-item.button {
  margin: 0;
  padding: 15px 20px;
  margin-right: 10px;
}

.pagination-item.curent {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0 3px #dbdbdb inset;
  box-shadow: 0 0 0 3px #dbdbdb inset;
}

.filter-button {
  padding: 15px 88px;

}


.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;

  height: 41px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  margin-left: 10px;
}

.max-price {
  text-align: right;
}


.filter-button,
.pagination-item {
  background-color: #eeeeee;
  color: #000000;
}

.filter-button:hover,
.pagination-item:hover,
.filter-button:focus-within,
.pagination-item:focus-within {
  background-color: #dfdfdf;
}

.filter-button:focus,
.pagination-item:focus {
  color: #959595;
}
